$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
// endbower

@media (max-width: $screen-md-max) {
  h2 {
    margin: 0 5px;
    font-size: 1.5em;
  }
  .btn {
    margin-top: 5px;
  }
}

// injector
// endinjector
