<div class="row" ng-if="model.list.length">
  <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
    <h2 class="text-right">{{model.list.length | number}} products</h2>
  </div>
</div>

<div class="row" ng-if="model.list.length == 0">
  <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
    <h2 class="text-right text-warning">Products not found.</h2>
  </div>
</div>

<div class="row product-list-item" ng-repeat="product in model.list">
  <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <strong>ID:</strong> <span>{{product.productID}}</span>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-md-3 col-lg-3">
            <a ng-href="{{product.productURL}}" target="_blank" class="thumbnail">
              <img ng-src="{{product.imageURL}}" alt="{{product.name}}">
            </a>
          </div>
          <div class="col-xs-12 col-md-9 col-lg-9">
            <a ng-href="{{product.productURL}}" class="product-link" target="_blank">
              <p class="product-name">
                {{product.name}}
              </p>
            </a>

            <p class="product-description">
              {{product.description}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <strong>PRICE:</strong>
            <span class="product-price">{{product.price | number}} {{product.currency}}</span>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <span class="label label-info" ng-repeat="category in product.categories">{{category}}</span>
      </div>
    </div>
  </div>
</div>
