.product-list-item {
  margin-top: 25px;
}

.panel-body img {
  max-width: 105px;
}

.product-name {
  font-size: 1.2em;
  font-weight: bold;
}

@media (max-width: $screen-md-max) {
  .panel-body img {
    max-width: 65px;
  }
}
