<div class="container">
  <div class="row">
    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
      <h1 class="page-header text-center">Product Parser</h1>
      <form
        class="form-horizontal" name="form"
        ng-submit="model.sendForm(form)" novalidate="novalidate"
      >
        <div class="form-group" ng-class="{'has-error': (form.url.$invalid || form.url.$error.required) && form.$submitted}">
          <label for="url" class="col-lg-2 control-label">Products URL</label>
          <div class="col-lg-8">
            <input
              id="url" class="form-control" type="url" name="url"
              placeholder="Enter products url" required
              ng-model="model.formData.url" xml-url-validator
              >
            <span class="text-danger" ng-if="form.url.$invalid && !form.url.$error.required && form.$submitted">Invalid URL.</span>
            <span class="text-danger" ng-if="form.url.$error.required && form.$submitted">Is required field.</span>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-1 text-center">
            <button type="submit" class="btn btn-info btn-block">Parse</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <hr>

  <div class="row form-error" ng-if="model.formError">
    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
      <p class="text-danger text-center">Fail request. Please, try again later.</p>
    </div>
  </div>

  <div class="row" ng-if="model.formLoading">
    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
      <div class="loader"></div>
    </div>
  </div>

  <product-list-component list="model.productList"></product-list-component>
</div>
